body{
  overflow-y: auto;
  overflow-x: hidden;
  margin:0;
  padding: 0;
  background: #f5f3f0;
}
.App{
   height: 100%;
}
.link {
  text-decoration: none;
  color: #fff;
}
.top-bar{
  background-color: #233D22;
  color: #fff;
  width: 100%;
  height:auto;
  position: sticky;
  display:flex;
  justify-content: space-between;
  top: 0;
}

.logo{
 flex:1;
 margin-left:10px;
}
.search{
  flex:1;
  width:100%;
}
.search input{
  width:100%;
  border-radius: 20px;
  border: none;
  margin:20px;
  padding:10px;
}
.menu{
  flex:1;
  margin:20px 10px;
  text-align:right;
}
.menu a{ 
  color:#fff;
  text-decoration: none;
 
}
.menu a:hover{
  color:#F37908;
  text-decoration: none;
  border-bottom: 1px solid #F37908;
   
  }
  /* home section */
  .home{
  background-color: #f5f3f0;
  color: #0000;
  width: 98%;
  height:60%;
  display:flex;
  margin:0 auto;
  /* position: absolute; */
  
}
.sidebar{
 margin:20px 10p;
 background: #C4C4C4;
 border-radius: 5px;
}
.sidebar h3{
  margin:20px;
  color :#F37908;
 }
.sidebar ul li {
  list-style: none;
  border: #fff;
  border-bottom: 1px #fff;
  padding: 5px;
  margin: 10px;
 }
.sidebar ul li a{
 color: #000;
 text-decoration: none;
 border: #fff;
 border-bottom: 1px #fff;
}
.sidebar ul li a:hover{
  color:#F37908;
  text-decoration: none;
  border-bottom: 1px solid #F37908;
   
  }
.text{
  flex:1;
}
.text h1{
color:#000;
margin:20px 5px;
text-align: center;
}
.text .desc{
  background-color:#F37908 ;
  border-radius: 10px 70px ;
  width: 80%;
  margin: 0 auto;
  height: 50%;
}
.text .desc p{
  color:#ffff;
  /* padding:30px; */
  height: auto;
  text-align: center;
  line-height: 2;
}
.image{
  flex:1;
  width:100%;
  height:85%;
  margin: 0 auto;
  padding: 15px;
}
.image img{
  /* position: relative; */
  width:100%;;
  height: 100%;
  border-radius: 25px;
}

.head-section{
  height:auto;
  display:block;
  width: 80%;
  margin: 0 auto;
}
.head-section h1{
  width:60%;
  display:inline-block;
}
.head-section select{
  width:40%;
  height: 30px;
  display:inline-block;
  border: none;
}
.cattles-for-sale{
  height:auto;
  display:flex;
  justify-content:space-around;
  margin: 0 auto;
  align-items: center;
  width: 95%;
}
.each-cattle{
flex:1;
display: block;
box-sizing: border-box;
width: 160px;
height: 250px;
background: #FAF4F4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin:6px;
/* align-content: center;
text-align: center; */
}
.each-cattle img{
width: 100%;
height: 80%;
}
.title-price{
  display:flex;
  flex-direction: column;
  padding:2px;
  text-align: center;
}
#cattle-name span{
  font-size: 12pt;
}
#cattle-price span{
  color: #F37908;
}
  /* footer */

  .footer{
    bottom:0;
    height: 30px;
    color:#000;
    display:inline-block;
    width: 100%;
    height:auto;
    margin-top:20px;
  }
  .floating-button{
    border-radius: 50%;
    background-color:#233D22;
    float: right;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 6px; 
    display: inline;
    color:#fff;
    /* position: fixed; */
  }
  .footer ul{
    display: inline;
  }
  .footer ul li{
    display: inline-block;
    padding:8px;
  }
  .footer ul li a{
    text-decoration: none;
    color:#000
  }
  /* each cattle page */
  .row{
    display:flex;
    width:90%;
    height: 100%;
    margin: 0 auto;
  }
  .column{
    flex:1;
    
  }
  .images-section{
    margin:25px 10px;
  }
  .images-section img{
    margin:0 auto;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .contact-seller{
    display: flex;
    width: 70%;
    /* justify-content: space-around; */
  }
  .contact-seller button{
    background-color: #F37908;
    color: #fff;
    padding: 10px 5px;
    border-radius: 6px;
    border:none;
    margin: 10px;
    size:18px;
   
  }
  .description p{
    text-align: justify;
    margin: 8px 5px;
  }
  .details ul{
    list-style: none;
  }
  .details ul li span{
    margin: 10px;
  }
  /* register and login pages */
  .account-form{
    margin: 0 auto;
    /* position: relative; */
    width:80%;
    height:100%;
  }
  form{
    margin: 0 auto;
    position: relative;
    width:100%;
  }
  form h1{
    margin: 0 auto;
    position: relative;
    width: 40%;
  }
  .form-group{
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
  }
  .form-group label{
    padding: 8px 5px;
    flex:1;
    width: 189px;
    height: 12px;
    left: 110px;
    line-height: 17px;
  }
  .form-group input{
    padding: 10px 5px;
    flex:1;
    width: 80%;
    border-radius: 3px;
    border: none;
    background: #C4C4C4;
  }
  .action-links{
    margin: 10px 5px;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 80%;

  }
  .action-links input{
  
    width: 119px;
    height: 29px;
    background: #F37908;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
  }
  .action-links .check input{
    /* display: block; */
    width: 15px;
    height: 15px;
  }
  .two-columns{
    display: flex;
    width: 80%;
    align-content: space-around;
    margin: 0;

  }
  .two-columns .form-group{
    flex:1;
    width: 100%;
  }
  .two-columns .form-group input{
   width: 99%;
  }
  .two-columns .form-group select{
    padding: 10px 5px;
    flex:1;
    width: 99%;
    border-radius: 3px;
    border: none;
    background: #C4C4C4;
   }

  /* each category page */
  .container{
    display: inline-block;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.category-sidebar{
   width:18%;
   background-color:#fff;
   height: 100%;
   color: #000;
   position: fixed;
   display: block;

}
.category-sidebar nav{
   color: #000;
   padding-top: 50px;
}
.category-sidebar nav ul{
   list-style: none;
 
}
.category-sidebar nav ul li{
   padding-top: 25px;
}
.category-sidebar nav ul li a{
   text-decoration: none;
   color: #0000;
}
/* content */
.content{
   display: block;
   width: 75%;
   background-color: rgb(216, 221, 205);
   margin-left: 20%;
   position: fixed;
   height: 100%;
   overflow-y: auto;
}

.category-row{
   display:flex;
   width: 80%;
   height: 45%;
   padding-top: 15%;
   margin:0 auto;
   position: relative;
}
.category-column{
flex:50%;
background-color: #fff;
margin-left: 15px;
text-align: center;
}

ul{
   list-style: none;
}